.thumbnail img {
    width: 200px;
    height: 300px;
}

img.thumbnail {
    width: 400px;
    height: 500px;
}

#cat_nav, #comics_list {
    display: inline-block;
}

#cat_nav {
    width: 15%;
}

#comics_list {
    width: 85%;
}

.gold {
    color: gold;
}

span.glyphicon-shopping-cart {
    font-size: 1.2em;
}