.thumbnail img {
    width: 200px;
    height: 300px;
}

img.thumbnail {
    width: 400px;
    height: 500px;
}

#cat_nav, #comics_list {
    display: inline-block;
}

#cat_nav {
    width: 15%;
}

#comics_list {
    width: 85%;
    margin-top: 20px;
}

.gold {
    color: gold;
}

span.glyphicon-shopping-cart {
    font-size: 1.2em;
}

div.col-sm-6.col-md-4{
    text-align: center;

}
div.thumbnail{
    border: none;
    box-shadow: 0 0 0 0 ;
    border-bottom: 1px solid rgb(232, 232, 232);
}



