.thumbnail img {
    width: 200px;
    height: 300px;
}

img.thumbnail {
    width: 400px;
    height: 500px;
}

#cat_nav, #comics_list {
    display: inline-block;
}

#cat_nav {
    width: 15%;
}

#comics_list {
    width: 85%;
    margin-top: 7px;
}

.gold {
    color: gold;
}

span.glyphicon-shopping-cart {
    font-size: 1.2em;
}

div.col-sm-6.col-md-4{
    text-align: center;

}
div.thumbnail{
    border: none;
    box-shadow: 0 0 0 0 ;
    border-bottom: 1px solid rgb(232, 232, 232);
}

/* Le panier */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
    border-bottom: 1px solid rgb(232, 232, 232);
}
#cart img {
    width: 64px;
}
#cart p {
    text-align: right;
    font-size: 1.2em;
}
#cart p:first-child {
    font-size: 3em;
}
#cart_empty p {
    text-align: left;
}
span.titre {
    font-weight: bold;
    font-size: 1.2em;
}
#cart {
    margin: 0;
}
#qty {
    width: 50px;
    text-align: center;
}
.qty {
    text-align: right;
}
#cart button.clearCart{
    color: #d9534f
}

/* form inscription*/
div.juxtapose{
    width : 25%;
    display: inline-block;
    vertical-align: top;
}
div.juxtapose:first-child{
    margin-right:200px;
}

div.center{
    text-align: center;
    margin-top : 50px;
}

div.center div.juxtapose{
    text-align: left;
}
div.juxtapose h4 {
    margin-bottom:35px;
}

div.juxtapose div.form-group label:after{
    content: "*";
}

.err_msg{
    background-color: #f2dede;
    border-color: #eed3d7;
}
.val_msg{
    border-color: #5cb85c;
}


